<script src="{{ 'data-sizechart-config.js' | asset_url }}" defer="defer"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js" type="text/javascript"></script>
<script>
const SIZECHART_MAGE = {};
         SIZECHART_MAGE.product = {{product|json}};
         SIZECHART_MAGE.template = "{{ template }}";
         SIZECHART_MAGE.collections = [];
         SIZECHART_MAGE.collections.push("{{collection.id}}")
                                 
          {% for collection in product.collections %}
         SIZECHART_MAGE.collections.push("{{ collection.id }}");
          {% endfor %}
                                         
</script>
{% if template.name == "product" %} 
{{ 'data-sizechart-config.css' | asset_url | stylesheet_tag }}
<div class="fixed-btn">
    <button onclick="openForm()" class="open-button"><a href="#" id="sizechart"></a></button>
</div>
<div id="myModal" class="modal">
<div class="modal-content" id="myForm">
<button class="close">&times;</button>
   
</div>
</div>
<script>
  const sizechart = {{shop.metafields.sizecharts.magepow_sizechart}};
   $(window).scroll(function() {
      if($(document).scrollTop() > 900){
        $(".fixed-btn").css("display", "block");
           
         
      }
});
 var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementsByClassName("open-button")[0];

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
  $(document).ready(function(){
     $(".close").click(function(){
            $("#myModal").hide();
        });
   });

</script>
{% endif %}